@model Sixerr.Models.Gig

@{
    ViewData["Title"] = "Sixerr";
}

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3> @Model.Title </h3>
                <hr>
                <img src="GIG:PHOTO" class="img-responsive center-block">
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> Об услуге </h4>
            </div>
            <div class="panel-body">
                <p> @Model.Description </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> Отзывы: </h4>
                <ul class="list-group">
                    {% for i in '123' %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="{% static 'img/avatar.png'%}" class="img-circle center-block" height="60" width="60">
                            </div>
                            <div class="col-md-10">
                                <h5> Какой-то покупатель </h5>
                                <p> Какой-то отзыв об услуге</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <button class="btn btn-success btn-block" type="button"> Заказать услугу ($@Model.Price)  </button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="GIG.USER.AVATAR" alt="" class="img-circle center-block">
                <h4 class="text-center">
                    MODEL:USER:USER:USERNAME
                </h4>
                <hr>
                <p> MODEL:USER:ABOUT </p>
            </div>
        </div>
    </div>
</div>