@model List<ChatMessage>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SignalR Chat - Metanit.com</title>
</head>
<body>
    <div id="inputForm">
        @if (!User.Identity.IsAuthenticated)
        {
            <p> Чтобы отправлять сообщения нужно войти в аккаунт</p>
        }
        else
        {
            <input type="text" id="message" />
            <input type="button" id="sendBtn" value="Отправить" />
        }

    </div>
    <div id="chatroom">
        @foreach (var message in Model)
        {
            <p>  <b> @message.Username:</b>  @message.Message</p>
            }
    </div>
    <script src="~/js/microsoft-signalr/signalr.min.js"></script>
    <script>
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/chat/send")
            .build();
        hubConnection.on("Send", function (message, userName) {

            let userNameElem = document.createElement("b");
            userNameElem.appendChild(document.createTextNode(userName + ': '));

            let elem = document.createElement("p");
            elem.appendChild(userNameElem);
            elem.appendChild(document.createTextNode(message));

            let firstElem = document.getElementById("chatroom").firstChild;
            document.getElementById("chatroom").insertBefore(elem, firstElem);

        });

        document.getElementById("sendBtn").addEventListener("click", function (e) {
            let userName = "@User.Identity.Name";
            let message = document.getElementById("message").value;
            hubConnection.invoke("Send", message, userName);
        });

        hubConnection.start();
    </script>
</body>
</html>