name: "Sixerr Build"

on: [push]

env:
  AZURE_WEBAPP_NAME: sixerr-app #set
  NETCORE_VERSION: '3.1.301'

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301

    - name: Restore
      run: dotnet restore ./Sixerr/Sixerr/Sixerr.csproj
    
    - name: Build
      run: dotnet build ./Sixerr/Sixerr/Sixerr.csproj --no-restore -c Release
    
    - name: Publish
      run: dotnet publish ./Sixerr/Sixerr/Sixerr.csproj --no-build -c Release -o ./../../Sixerr/Sixerr/published

    - name: Deploy to Azure
      uses: azure/webapps-deploy@v2
      with:
        app-name: sixerr-app
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package:  './../../Sixerr/Sixerr/published'

    - name: Publish Artifacts
      uses: actions/upload-artifact@v1.0.0
      with:
        name: webapp
        path: './published'